/* menu button for RWD */
.menu-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* Back to top button */
.scroll-up {
    position: fixed;
    height: 50px;
    width: 50px;
    background: var(--main-theme-color);
    right: 25px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
.scroll-up i {
    transform: translateY(3px);
}
.scroll-up.visible {
    opacity: 1;
    bottom: 25px;
    pointer-events: auto;
}
/* **************** */
/* sekcja nawigacji */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky {
    padding: 15px 0;
    top: 0;
    background: var(--main-theme-color);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.navbar .logo a span {
    color: var(--main-theme-color);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.navbar .menu li a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
/* Animation for menu link hover */
.navbar .menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    transform: translateY(5px);
}
.navbar .menu li a:hover::after {
    width: 100%;
    transform: translateY(5px);
    transition: width 0.3s;
}

@media (max-width: 940px) {
    .menu-btn {
        display: block;
        z-index: 9999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -150%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 2rem;
        padding-bottom: 12px;
    }
}
