@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --main-theme-color: #0077ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Ubuntu;
}

.card-wrapper {
    max-width: 1100px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    /* max-height: 500px; */
    transition: all 0.5s ease; 
}

.img-showcase img {
    min-width: 100%;    
    max-height: 60vh;
    object-fit: cover;
}

.img-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.img-item {
    width: 19%;
}

.img-item img {
    object-fit: cover;
    height: 10vh;
}

.img-item {
    /* margin-right: 0.3rem; */
    margin-top: 1rem;
}

.img-item:hover {
    opacity: 0.7;
}

.product-content {
    padding: 1rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    margin: 0.5rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 220px;
    background-color: #12263a;
}

.product-detail h2 {
    text-transform: capitalize;
    /* padding-bottom: 0.5rem; */
    margin: 1.5rem 0;
}

.product-detail p {
    font-size: 0.9rem;
}

.product-detail ul {
    margin: 0 1rem;
    font-size: 0.9rem;
}

.social-links {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #112233;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        padding: 80px 10px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .product-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 992px) {
    .card-wrapper {
        padding: 10px 10px;
    }
}